.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1px;
  row-gap: 1px;
}

.productCarousel {
  background-color: #fff;
  padding: 1rem 2rem;
}

.priceInformation {
  background-color: #fff;
  padding: 1rem 2rem;
}

.productInformation {
  background-color: #fff;
  padding: 1rem 2rem;
}

.readMore {
  background-color: #fff;
  padding: 1rem 2rem;
}

.productSpecification {
  background-color: #fff;
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }

  .productCarousel {
    grid-column: 1/4;
  }

  .priceInformation {
    grid-column: 4/6;
    grid-row: 1 / 5;
    padding: 2rem 4rem;
  }

  .productInformation {
    grid-column: 1/4;
  }

  .readMore {
    grid-column: 1/4;
    padding: 1rem 4rem 1rem 2rem;
  }

  .productSpecification {
    grid-column: 1/4;
    padding: 1rem 4rem 1rem 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .priceInformation {
    padding: 2rem;
  }
}
