.priceInformation {
  display: inherit;
}

.price {
  display: inherit;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 0.2rem;
}

.offers {
  display: inherit;
  color: rgb(156, 0, 0);
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.guarantee {
  display: inherit;
  font-weight: bold;
  color: #444;
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 768px) {
}
